.d-grid {
    display: grid;
}
.d-inl-grid {
    display: inline-grid;
}
.three-columns-5-rows {
    grid-template-columns: 200px 100px 100px;
    grid-template-rows: auto auto auto auto auto;
}
.grid-columns-percents {
    grid-template-columns: 10% 20% 70%;
}
.three-rows {
    grid-template-rows: 50px 1fr 50px;
}
.five-columns {
    grid-template-columns: auto auto auto auto auto;
}
